<h1>Editing cardapio_item</h1>

<%= render 'form' %>

<%= link_to 'Show', cardapio_item_path(@cardapio_item, :cardapio => @cardapio.id) %> |
<%= link_to 'Back', cardapio_items_path( :cardapio => @cardapio.id ) %>
