<div class='content-padded'>
  <p class='welcome'>
    O total do pedido ficou em
    <strong data-bind='text: strTotalPedido'></strong>.
    Foi acrescido <span data-bind='text: strOnlineFee'></span> da taxa online
    e mais <span data-bind='text: strDeliveryFee'></span> da taxa de entrega.
  </p>
</div>
<form class='contato'>
  <div class='input-group'>
    <div class='input-row'>
      <label>Rua</label>
      <input type='text' placeholder='Rua Elbert Vilela, 1669' data-bind='value: compra().address.street' >
    </div>
    <div class='input-row'>
      <label>Bairro</label>
      <input type='text' placeholder='Centenário' data-bind='value: compra().address.district' >
    </div>
    <div class='input-row'>
      <label>Cidade</label>
      <input type='text' data-bind='disable: true , value: compra().address.city' >
    </div>
    <div class='input-row'>
      <label>Observação</label>
      <textarea rows='5' placeholder='Próximo ao Postinho. X-Burguer sem maionese' data-bind='value: compra().observation' ></textarea>
    </div>
  </div>
  <a class='button button-block' data-bind='click: checkout '>Comprar</a>
</form>