<div id="content" class="span10">
<!-- start: Content -->
  <div>
    <hr>
    <ul class="breadcrumb">
      <li>
        <a href="#">Home</a> <span class="divider">/</span>
      </li>
      <li>
        <a>Pedidos</a>
      </li>
    </ul>
    <hr>
  </div>

  <div id="alerta"> </div>

  <div class="row-fluid">
    <div class="progress progress-striped progress-success active" ng-show="carregandoPedidos">
      <div class="bar" style="width: 100%;">carregando os pedidos</div>
    </div>
    <div class="box span12" ng-show="!carregandoPedidos">
      <div class="box-header" data-original-title>
        <h2><i class="fa-icon-list"></i><span class="break"></span>Pedidos</h2>
      </div>
      <div class="box-content">
        <table class="table table-striped">
          <tr ng-repeat="pedido in pedidos">
            <td class="center">
              <span ng-repeat="item in pedido.itens">
                <strong>{{item.qty}} </strong> 
                <span> {{item.description}}</span>
                <span ng-show="!$last">,&nbsp;</span>
              </span>
              <br>
              <i ng-show="pedido.observation && pedido.observation.length > 0">
                ({{pedido.observation}})
              </i>
              <span class="badge badge-{{status(pedido).style}}">
                {{status(pedido).name}}
              </span>
            </td>
            <td class="center">
              <a class="btn btn-info" ng-click="visualizar(pedido)" style="float: right">
                <i class="icon-search icon-white"></i>
              </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  
<!-- end: Content -->
</div><!--/#content.span10-->

<div class="modal hide fade" id="modalVisualizarPedido">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Visualização do Pedido</h3>
  </div>
  <div class="modal-body">

    <img ng-src="{{pedido.user.image}}"/> <br>
    <strong> {{pedido.user.name}} </strong> <br>
    <address ng-show="pedido.address && pedido.address.street && pedido.address.street.length>0">
      <span> 
        {{pedido.address.street}} 
      </span>
      <span ng-show="pedido.address.district && pedido.address.district.length>0">
        - {{pedido.address.district}} 
      </span>
      <span>
        - {{pedido.address.city}} 
      </span>
    </address>

    <strong>Status: </strong> 
    <span class="badge badge-{{status(pedido).style}}">
      {{status(pedido).name}}
    </span>
    <br>

    <strong>Observação: </strong> {{pedido.observation}} <br>
    
    <strong>Itens: </strong>
    <span ng-repeat="item in pedido.itens">
      <span>{{item.qty}} {{item.description}}</span>
      <span ng-show="!$last">,&nbsp;</span>
    </span>
  </div>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Fechar</a>
    <a href="#" class="btn btn-info"    data-dismiss="modal" ng-click="fazendoPedido()">Fazendo</a>
    <a href="#" class="btn btn-success" data-dismiss="modal" ng-click="pedidoPronto()">Pronto para entrega</a>
    <a href="#" class="btn btn-danger"  data-dismiss="modal" ng-click="pedidoEntregue()">Entregue</a>
  </div>
</div>
