<div class="content-padded">
  <p class="welcome">Obrigado por utilizada nosso sistema online. Assim podemos oferecer maior mobilidade e agilidade em nossos serviços.</p>
</div>
<ul class="list inset">
  <li>
    <a href="#cardapio">
      <strong>Cardápio</strong>
      <span class="chevron"></span>
    </a>
  </li>
  <li>
    <a href="#map">
      <strong>Encontre nossa(s) loja(s)</strong>
      <span class="chevron"></span>
    </a>
  </li>
  <li>
    <a href="#promocoes">
      <strong>Promoções</strong>
      <span class="chevron"></span>
    </a>
  </li>
  <li id="authentication">
    <a href="">
      <strong></strong>
      <span class="chevron"></span>
    </a>
  </li>
</ul>
