<header class='popover-header'>
  <a class='button' href='#' data-bind='visible: showBtnPedido, click: esvaziarPedido ' >
    Esvaziar
  </a>
  <h3 class='title'>Meu Pedido</h3>
  <a class='button' data-bind='visible: showBtnPedido, click: finalizarPedido ' >
    Comprar
  </a>
</header>
<ul class='list' data-bind="visible: pedido().length() > 0 , foreach: { data: pedido().itens() , as: 'i' } " >
  <li>
    <strong data-bind='text: i.description '></strong>
     - <span data-bind='text: $root.subTotalItemPedido(i) '></span>
    <span class='count-main' data-bind='text: i.qte '></span>
  </li>
</ul>
<ul class='list inset' data-bind='visible: pedido().length()>0' >
  <li>
    <strong>Total</strong>
    <strong class='total' data-bind='text: strTotalPedido' ></strong>
  </li>
</ul>
<ul class='list inset' data-bind='visible: pedido().length()<=0' >
  <li>
    <strong>Nenhum item adicionado</strong>
  </li>
</ul>
